/* This is a place where final css file should be. */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap");
/* line 1, ../sass/grid-config.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/grid-config.scss */
.container-full {
  width: 100%;
  padding: 15px;
}

/* line 10, ../sass/grid-config.scss */
.container-main {
  width: 1130px;
  margin: auto;
  padding: 15px;
}

/* line 16, ../sass/grid-config.scss */
.container-content {
  width: 960px;
  margin: auto;
  padding: 15px;
}

/* line 22, ../sass/grid-config.scss */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* line 28, ../sass/grid-config.scss */
[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 300px) {
  /* For mobile phones: */
  /* line 35, ../sass/grid-config.scss */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  /* line 42, ../sass/grid-config.scss */
  .col-s-1 {
    width: 8.33%;
  }

  /* line 43, ../sass/grid-config.scss */
  .col-s-2 {
    width: 16.66%;
  }

  /* line 44, ../sass/grid-config.scss */
  .col-s-3 {
    width: 25%;
  }

  /* line 45, ../sass/grid-config.scss */
  .col-s-4 {
    width: 33.33%;
  }

  /* line 46, ../sass/grid-config.scss */
  .col-s-5 {
    width: 41.66%;
  }

  /* line 47, ../sass/grid-config.scss */
  .col-s-6 {
    width: 50%;
  }

  /* line 48, ../sass/grid-config.scss */
  .col-s-7 {
    width: 58.33%;
  }

  /* line 49, ../sass/grid-config.scss */
  .col-s-8 {
    width: 66.66%;
  }

  /* line 50, ../sass/grid-config.scss */
  .col-s-9 {
    width: 75%;
  }

  /* line 51, ../sass/grid-config.scss */
  .col-s-10 {
    width: 83.33%;
  }

  /* line 52, ../sass/grid-config.scss */
  .col-s-11 {
    width: 91.66%;
  }

  /* line 53, ../sass/grid-config.scss */
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* line 58, ../sass/grid-config.scss */
  .col-1 {
    width: 8.33%;
  }

  /* line 59, ../sass/grid-config.scss */
  .col-2 {
    width: 16.66%;
  }

  /* line 60, ../sass/grid-config.scss */
  .col-3 {
    width: 25%;
  }

  /* line 61, ../sass/grid-config.scss */
  .col-4 {
    width: 33.33%;
  }

  /* line 62, ../sass/grid-config.scss */
  .col-5 {
    width: 41.66%;
  }

  /* line 63, ../sass/grid-config.scss */
  .col-6 {
    width: 50%;
  }

  /* line 64, ../sass/grid-config.scss */
  .col-7 {
    width: 58.33%;
  }

  /* line 65, ../sass/grid-config.scss */
  .col-8 {
    width: 66.66%;
  }

  /* line 66, ../sass/grid-config.scss */
  .col-9 {
    width: 75%;
  }

  /* line 67, ../sass/grid-config.scss */
  .col-10 {
    width: 83.33%;
  }

  /* line 68, ../sass/grid-config.scss */
  .col-11 {
    width: 91.66%;
  }

  /* line 69, ../sass/grid-config.scss */
  .col-12 {
    width: 100%;
  }
}
/* put in different file!!!*/
/* line 9, ../sass/style.scss */
header {
  margin-top: 30px !important;
}
/* line 12, ../sass/style.scss */
header .site-logo img {
  width: 220px;
}
/* line 16, ../sass/style.scss */
header ul.menu {
  line-height: 10px;
  vertical-align: middle;
  float: right;
}
/* line 21, ../sass/style.scss */
header ul.menu li {
  display: inline-block;
  padding-left: 80px;
}
/* line 26, ../sass/style.scss */
header ul.menu a {
  color: #626262;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

/* line 37, ../sass/style.scss */
.layout-content {
  margin-top: 60px;
}

/* line 41, ../sass/style.scss */
h2 {
  color: #626262;
  font-family: 'Playfair Display', 'serif';
  font-size: 30px;
  font-weight: 400;
}
/* line 47, ../sass/style.scss */
h2 a {
  color: #626262;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-decoration: none;
}

/* line 55, ../sass/style.scss */
p,
.field__item p {
  color: #626262;
  font-family: 'Playfair Display', 'serif';
  font-size: 14px;
  font-weight: 400;
}

/* line 63, ../sass/style.scss */
.field--type-text-with-summary h2::before {
  content: '';
  width: 100px;
  border-bottom: solid 4px #626262;
  position: absolute;
  top: 35px;
  z-index: 1;
}

/* line 72, ../sass/style.scss */
div[property="schema:about"] {
  margin-top: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  text-transform: uppercase;
}
