/* This is a place where final css file should be. */

@import 'grid-config.scss';

/* put in different file!!!*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

header {
    margin-top: 60px;

    .site-logo img {
        width: 220px;
    }

    ul.menu {
        line-height: 10px;
        vertical-align: middle;
        float: right;

        li {
            display: inline-block;
            padding-left: 80px;
        }

        a {
            color: #626262;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
        }
    }
}


