/* This is a place where final css file should be. */

@import 'grid-config.scss';

/* put in different file!!!*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300&display=swap');

header {
    margin-top: 30px !important;

    .site-logo img {
        width: 220px;
    }

    ul.menu {
        line-height: 10px;
        vertical-align: middle;
        float: right;

        li {
            display: inline-block;
            padding-left: 80px;
        }

        a {
            color: #626262;
            text-transform: uppercase;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.layout-content {
    margin-top: 60px;
}

h2 {
    color: #626262;
    font-family: 'Playfair Display', 'serif';
    font-size: 30px;
    font-weight: 400;

    a {
        color: #626262;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        text-decoration: none;
    }
}

p,
.field__item p {
    color: #626262;
    font-family: 'Playfair Display', 'serif';
    font-size: 14px;
    font-weight: 400;
}

.field--type-text-with-summary h2::before {
    content: '';
    width: 100px;
    border-bottom: solid 4px #626262;
    position: absolute;
    top: 35px;
    z-index: 1;
}

div[property="schema:about"] {
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    font-size: 14px;
    text-transform: uppercase;
}